:root {
  --primary-color: hsl(158, 36%, 37%);
  --secondary-color: hsl(158, 42%, 18%);

  --font-color: hsl(212, 21%, 14%);
  --gray-color: hsl(228, 12%, 48%);
  --background-color: hsl(30, 38%, 92%);

  --font-family: "Montserrat", sans-serif;
  --font-family-alt: "Fraunces", serif;

  --font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
  margin: 0;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.product {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}

.image-container {
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.image-container img {
  width: inherit;
  border-radius: 8px 0 0 8px;
}

.product-info {
  padding: 30px;
  width: 300px;
}

.category {
  text-transform: uppercase;
  font-size: 12px;
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
}

.title {
  font-family: var(--font-family-alt);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 20px;
  margin-bottom: 26px;
}

.description {
  line-height: 1.5rem;
}

.price-container {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 24px;
  gap: 14px;
}

.price {
  font-family: var(--font-family-alt);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--primary-color);
}

.discounted-price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1rem;
  text-decoration: line-through;
  color: var(--gray-color);
}

.button {
  background-color: var(--primary-color);
  color: white;

  font-weight: 700;
  font-size: 14px;

  padding: 16px 36px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--secondary-color);
}

.cart-icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  .product {
    flex-direction: column;
  }

  .image-container {
    height: 240px;
    width: 350px;
  }

  .product-info {
    padding: 26px;
    width: 350px;
  }

  .title {
    font-size: 1.7rem;
  }

  .description {
    font-size: 0.8rem;
  }
}
